<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/mainLayout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity3">
<body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<img th:src="${'/uploadedPicture/' + user.id}" height="500" width="750" alt="Profile Picture"/>
					<h1 th:text="${user.firstName + ' ' + user.lastName}"></h1>
				</div>
				<h3 class="text-center" th:text="${user.company.name}"></h3>
				<h3 class="text-center" th:text="${user.phoneNumber}"></h3>
				<div class="row">
					<h3 class="text-center" th:text="${user.address}"></h3>
					<div id="location" class="form-group">
						<div class="col-md-12">
							<label for="map">Location</label>
							<div id="map" style="width: auto; height: 320px"
								class="form-group"></div>
						</div>
					</div>
				</div>
				<a class="btn btn-primary" role="button" th:href="${'/user/upload/' + user.userId}"
					th:if="${loggedInUsername == user.username}">Upload Photo</a>
				<div class="btn-group" role="group" aria-label="...">
					<a class="btn btn-primary" role="button"
						th:href="${'/userTaskReport/' + user.userId}">Generate iText
						Report</a>
					<button class="btn btn-success dropdown-toggle" type="button"
						data-toggle="dropdown">
						Generate Jasper Reports <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a th:href="${'/jasper/pdf/' + user.userId}">PDF</a></li>
						<li><a th:href="${'/jasper/xls/' + user.userId}">Excel</a></li>
						<li><a th:href="${'/jasper/csv/' + user.userId}">CSV</a></li>
						<li><a th:href="${'/jasper/html/' + user.userId}">HTML</a></li>
					</ul>
				</div>
				<a class="pull-right btn btn-success" role="button"
					th:href="@{/user/list}">Back to users</a>
			</div>
		</div>
	</div>
	<script layout:fragment="scripts" th:inline="javascript">
		//<![CDATA[
		$(document).ready(function() {
				
			var lat = /*[[${user.location.latitude}]]*/
			var lng = /*[[${user.location.longitude}]]*/
			
			var leafletMaptrackingMap = L.map('map', {
				id : 'trackingMap'
			}).setView([ lat, lng ], 13);
			
			updateAddress(lat, lng)
			
			leafletMaptrackingMap.addControl(new L.Control.Search({
				url : 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
				jsonpParam : 'json_callback',
				propertyName : 'display_name',
				circleLocation : false,
				propertyLoc : [ 'lat', 'lon' ]
			}));

			L.tileLayer(
				'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
				{
					id : 'tileLayer_trackingMap',
					minZoom : 1,
					maxZoom : 18,
					attribution : 'Map data &amp;copy; https://openstreetmap.org'
				}).addTo(leafletMaptrackingMap);

			var marker = L.marker([ lat, lng ], {
				id : 'marker',
				"draggable" : false,
				map : leafletMaptrackingMap
			});

			marker.addTo(leafletMaptrackingMap);

			function updateAddress(lat, lng) {
				var url = "http://maps.googleapis.com/maps/api/geocode/json?latlng=";
				var locationUrl = url + lat + ',' + lng
						+ '&sensor=false';

				$.getJSON(locationUrl, function(data) {
					$("#address").val(
							data.results[0].formatted_address);
				});
			}

		})
		//]]>
	</script>
</body>
</html>